<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>MediTech:Add New Appointment</title>

    <!-- Head-->
    <div th:replace="fragrams/header :: header" />
<body>
<!-- Responsive navbar-->
<div th:replace="fragrams/navbar :: navbar" />

<div class="content-wrap">
    <div class="main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8 p-r-0 title-margin-right">
                    <div class="page-header">
                        <div class="page-title">
                            <h1>Hello, <span>Welcome Here</span></h1>
                        </div>
                    </div>
                </div>
                <!-- /# column -->
                <div class="col-lg-4 p-l-0 title-margin-left">
                    <div class="page-header">
                        <div class="page-title">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                                <li class="breadcrumb-item active">Patient List</li>
                            </ol>
                        </div>
                    </div>
                </div>
                <!-- /# column -->
            </div>
            <section id="main-content">
    <h3>Add New Appointment</h3>
    <hr/>

    <form th:action="@{/appointments/saveorupdateappointment}" th:object="${appointments}" method="POST">

        <label for="pname" class="col-lg-2 col-form-label">Patient Name</label>
        <input  type="text" th:field="*{patientName}" class="col-lg-6"  placeholder="Patient Name"  th:name="pname" id="pname" /><br><br>
         <label for="issue" class="col-lg-2 col-form-label">Issue</label>
        <input  type="text" th:field="*{issue}" class="col-lg-6" placeholder="Enter Reason for consultation" id="issue"/><br><br>
        <label for="date" class="col-lg-2 col-form-label">Appointment Date</label>
        <input  type="date" th:field="*{appointmentDate}" class="col-lg-6 col-form-label" id="date"/><br><br>
        <label for="time" class="col-lg-2 col-form-label">Appointment Time</label>
        <input  type="time" th:field="*{appointmentTime}" class="col-lg-6 col-form-label" id="time"/><br><br>
        <label for="diagnosis" class="col-lg-2 col-form-label">Diagnosis</label>
        <textarea   th:field="*{diagnosis}" class="col-lg-6 col-form-label" placeholder="To be entered by the doctor" disabled id="diagnosis"></textarea><br><br>
        <label class="col-lg-2 col-form-label">Consulting Doctor</label>
        <select class="col-lg-6 col-form-label" th:field="*{doctorName}">
            <option  th:name="dname" id="dname" th:each="d : ${doctors}" th:value="${d.name}" th:text="${d.name}" />
        </select></br>
        <label class="col-lg-2 col-form-label">Appointment Status</label>

 <!--       <select id="status" name="status" class="col-lg-6 col-form-label" th:field="*{isComplete}">
            <option value="0" th:text="Pending"/>
            <option value="1" th:text="Complete"/>
        </select>-->

        <br/><br/><br/>
        <button type="submit" class="btn btn-primary col-2">Save</button>
        <input type="hidden" th:field="*{id}" />

    </form>

    <hr/>
    <a th:href="@{/appointments}">Back to list</a>
            </section>


        </div>
    </div>
</div>
<!-- Footer-->
<div th:replace="fragrams/footer :: footer"/>
</body>
</html>