<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<!-- Head-->
<div th:replace="fragrams/header :: header"/>
<body>
<!-- Responsive navbar-->
<div th:replace="fragrams/navbar :: navbar"/>


<div class="content-wrap">
    <div class="main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4 p-r-0 title-margin-right">
                    <div class="page-header">
                        <div class="page-title">
                            <h1>Hello,<i> <span sec:authentication="principal.name" th:remove="tag"></span></i></h1>
                            <h1><span sec:authentication="principal.authorities"></span></h1>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 p-r-0 title-margin-right">
                    <div class="page-header">
                        <div class="page-title">
                            <h1>Welcome to MediTech!</h1>
                        </div>
                    </div>
                </div>
                <!-- /# column -->
                <div class="col-lg-4 p-l-0 title-margin-left">
                    <div class="page-header">
                        <div class="page-title">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                                <li class="breadcrumb-item active">Home</li>
                            </ol>
                        </div>
                    </div>
                </div>
                <!-- /# column -->
            </div>
            <!-- /# row -->


            <section id="main-content">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card bg-primary">
                                    <div class="weather-widget">
                                        <div id="weather-one" class="weather-one p-22"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="testimonial-widget-one p-17">
                                        <div class="testimonial-widget-one owl-carousel owl-theme">
                                            <div class="item">
                                                <div class="testimonial-content">
                                                    <div class="testimonial-text">
                                                        <i class="fa fa-quote-left"></i> The greatest glory in living
                                                        lies not in never falling,
                                                        but in rising every time we fall. <i
                                                            class="fa fa-quote-right"></i>
                                                    </div>
                                                    <div class="testimonial-author">- Nelson Mandela</div>
                                                    <div class="testimonial-author-position">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="testimonial-content">
                                                    <div class="testimonial-text">
                                                        <i class="fa fa-quote-left"></i> Life is either a daring
                                                        adventure or nothing at all.<i class="fa fa-quote-right"></i>
                                                    </div>
                                                    <div class="testimonial-author">- Helen Keller</div>
                                                    <div class="testimonial-author-position">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="testimonial-content">
                                                    <div class="testimonial-text">
                                                        <i class="fa fa-quote-left"></i> “Be a yardstick of quality.
                                                        Some people aren’t used to an environment where excellence is
                                                        expected.” <i class="fa fa-quote-right"></i>
                                                    </div>
                                                    <div class="testimonial-author">- Steve Jobs</div>
                                                    <div class="testimonial-author-position">Co-Founder, Apple
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="testimonial-content">
                                                    <div class="testimonial-text">“You don’t have to be a genius or a
                                                        visionary or even a college graduate to be successful. You just
                                                        need a framework and a dream.” <i class="fa fa-quote-right"></i>
                                                    </div>
                                                    <div class="testimonial-author">- Michael Dell</div>
                                                    <div class="testimonial-author-position">Founder-Ceo. Dell
                                                        Technologies
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="testimonial-content">
                                                    <div class="testimonial-text">
                                                        <i class="fa fa-quote-left"></i>“I have not failed. I’ve just
                                                        found 10,000 ways that won’t work.”<i
                                                            class="fa fa-quote-right"></i>
                                                    </div>
                                                    <div class="testimonial-author">- Thomas Edison</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- /# column -->
                    <div class="col-lg-8">
                        <div class="card">
                            <div class="card-title pr">
                                <h4>Upcoming Appointments</h4>

                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-striped" id="appointment">
                                        <thead>
                                        <tr>
                                            <th scope="col">Appointment ID</th>
                                            <th scope="col">Patient Email</th>
                                            <th scope="col">Consulting Doctor Email</th>
                                            <th scope="col">Date/Time</th>
                                            <th scope="col">Issue</th>
                                            <th scope="col">Diagnosis</th>
                                            <th scope="col">Status</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="appointment: ${appointments}">
                                            <th scope="row" th:text="${appointment.id}"></th>
                                            <td th:text="${appointment.patientEmail}"></td>
                                            <td th:text="${appointment.doctorEmail}"></td>
                                            <td th:text="${appointment.appointmentDate}+' '+${appointment.appointmentTime}"></td>
                                            <td th:text="${appointment.issue}"></td>
                                            <td th:text="${appointment.diagnosis}"></td>
                                            <td th:text="${appointment.isComplete}?'COMPLETE' : 'PENDING'"></td>
                                        </tr>

                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /# column -->
                </div>

                <div class="row">
                    <div class="col-lg-4">
                        <div class="card">
                            <div class="card-body">
                                <div class="year-calendar"></div>
                            </div>
                        </div>
                        <!-- /# card -->
                    </div>
                    <div class="col-lg-8">
                        <div class="card">
                            <div class="card-title">
                                <h4>Task</h4>
                            </div>
                            <div class="todo-list">
                                <div class="tdl-holder">
                                    <div class="tdl-content">
                                        <ul>
                                            <li>
                                                <label>
                                                    <input type="checkbox"><i></i><span>22,Dec Publish The Final
                                                            Exam Result</span>
                                                    <a href='#' class="ti-close"></a>
                                                </label>
                                            </li>
                                            <li>
                                                <label>
                                                    <input type="checkbox" checked><i></i><span>First Jan Start Our
                                                            School</span>
                                                    <a href='#' class="ti-close"></a>
                                                </label>
                                            </li>
                                            <li>
                                                <label>
                                                    <input type="checkbox"><i></i><span>Recently Our Maganement
                                                            Programme Start</span>
                                                    <a href='#' class="ti-close"></a>
                                                </label>
                                            </li>
                                            <li>
                                                <label>
                                                    <input type="checkbox" checked><i></i><span>Check out some
                                                            Popular courses</span>
                                                    <a href='#' class="ti-close"></a>
                                                </label>
                                            </li>

                                            <li>
                                                <label>
                                                    <input type="checkbox" checked><i></i><span>First Jan Start Our
                                                            School</span>
                                                    <a href='#' class="ti-close"></a>
                                                </label>
                                            </li>
                                            <li>
                                                <label>
                                                    <input type="checkbox" checked><i></i><span>Connect with one new
                                                            person</span>
                                                    <a href='#' class="ti-close"></a>
                                                </label>
                                            </li>
                                        </ul>
                                    </div>
                                    <input type="text" class="tdl-new form-control"
                                           placeholder="Write new item and hit 'Enter'...">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="footer">
                                <p>2022© MediTech Admin Board. - <a href="#">example.com</a></p>
                            </div>
                        </div>
                    </div>

                </div>
        </div>
    </div>
</div>

<!--
<script src="/js/lib/jquery.min.js"></script>-->

<!-- Footer-->
<div th:replace="fragrams/footer :: footer"/>
</body>

</html>