<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <title>vMediTech: Doctor Details</title>

  <!-- Head-->
  <div th:replace="fragrams/header :: header" />
<body>
<!-- Responsive navbar-->
<div th:replace="fragrams/navbar :: navbar" />
<div class="content-wrap">
  <div class="main">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-8 p-r-0 title-margin-right">
          <div class="page-header">
            <div class="page-title">
              <h1>Hello, <span>Welcome Here</span></h1>
            </div>
          </div>
        </div>
        <!-- /# column -->
        <div class="col-lg-4 p-l-0 title-margin-left">
          <div class="page-header">
            <div class="page-title">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                <li class="breadcrumb-item active">Doctor List</li>
              </ol>
            </div>
          </div>
        </div>
        <!-- /# column -->
      </div>
      <section id="main-content">
  <h1>Doctor List</h1><br><br>
  <table class="table table-bordered table-striped" id="doctor">
    <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Department</th>
      <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="doctor: ${doctors}">
      <th scope="row" th:text="${doctor.id}"></th>
      <td th:text="${doctor.name}"></td>
      <td th:text="${doctor.email}"></td>
      <td th:text="${doctor.department}"></td>
      <td>
       <a th:href="@{/doctors/edit/{id}(id=${doctor.id})}" class="btn btn-info">Update</a>
        <a th:href="@{/doctors/delete/{id}(id=${doctor.id})}" class="btn btn-danger ml-2">Delete</a>

      </td>
    </tr>

    </tbody>
  </table>
  <a th:href="@{/doctors/addNewDoctor}" class="btn btn-primary">Add Doctor</a>
  <br/><br/>
      </section>
    </div>
  </div>
</div>
<!--
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.js"></script>-->

<!-- Footer-->
<div th:replace="fragrams/footer :: footer"/>
<script>
			$(document).ready(function() {
				$("#doctor").DataTable({
						'aoColumnDefs': [{
        				'bSortable': false,
        				'aTargets': [-1] /* 1st one, start by the right */
    				}]
				});
			})
		</script>


</body>
</html>