<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>🩺MediTech HMS</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="/css/mystyle.css" rel="stylesheet">
    <script src="/js/register.js"></script>

</head>
<body>
<section>
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body p-5">

                            <h1 class="logo me-auto"><a href="#/">MediTech</a></h1>
                            <h2 class="text-uppercase text-center mb-5" style="font-size: 1rem;">LOGIN</h2>

                            <form th:action="@{/dashboard}"  id="registerform" class="registerform"  onsubmit="validateForm()" method="POST">


                                <div class="form-outline mb-2">

                                    <label class="form-label">Email</label>
                                    <input type="email" id="email" class="form-control"  required/>

                                </div>

                                <div class="form-outline mb-2">
                                    <label class="form-label">Password</label>
                                    <input id="password" type="password" class="form-control" pattern="[A-Za-z0-9]{8,}" title="Password must be atleast 8 characters" required/>
                                </div>

                                <p id="form-error"></p>
                                <div class="d-flex justify-content-center">
                                    <button type="submit" value="Login" class="submit">Login</button>
                                </div>
                                <div>
                                    New user? <a id="signup"  th:href="@{/meditech/registerAdminOrDoctor}" ><u>Sign up here</u>
                                </a></div>


                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>